{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Email</th>
      <th scope="col">Description</th>
    </tr>
  </thead>

  <tbody>
 {% for message in message %}
    <tr>
      <th scope="row">{{message.id}}</th>
      <td>{{message.nom}}</td>
      <td>{{message.prenom}}</td>
      <td>{{message.email}}</td>
      <td>{{message.description}}</td>
      {% if is_granted ("ROLE_ADMIN")  %}
      <td><a class = 'btn btn-danger' href="{{path('app_admin_delete_contact',{id: message.id})}}">Supprimer</a></td>
      {% endif %}
    </tr>

{% endfor %}
   
  </tbody>

</table>

{% endblock %}